body {
    background: white;
    font-family: arial;
}
    h1 {
        font-family: 'IM Fell English';
        font-size: 80px;
        line-height: 95px;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        background-image: url(https://images.unsplash.com/photo-1572873682924-02a47e84876a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80/200); /*photo from Jon Sailer @eyefish73 on Unsplash*/
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h2 {
        font-family: 'Teko', sans-serif;
        font-size: 50px;
        line-height: 65px;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;        
        background-image: url(https://images.unsplash.com/photo-1572873682924-02a47e84876a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80/200); /*photo from Jon Sailer @eyefish73 on Unsplash*/
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h3 {

    }
    p {

    }
    a {
        font-size: 14px;
    }
    a:hover {
        font-size: 14px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    th {
        font-weight: bold;
        border: gold;

    }
    tr {
        font-size: 14px;
        line-height: 22px;
    }
    .jumbotron {
        max-width: 90%;
        margin: auto;
        background: rgb(23, 36, 78);
    }
    .btn {
        background: royalblue;
    }
    .btn:hover {
        background: royalblue;
        text-decoration: none;
        text-emphasis: bold;
    }
    .box {
        margin: 15px;
        border-radius: 10px;
        padding: 30px;
        background: royalblue;
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
      }
    .card-header {
        margin: auto;
        /* background: rgb(23, 36, 78); */
    }
    .card-title {
        font-weight: bold;
        font-size: 22px;
        padding: 15px;
    }
    .row-header {
        font-weight: bold;
        font-size: 16px;
        color: white;
        background: royalblue;
    }
    #rep-info {
        /* widthL min-content; */
        color: royalblue;
        background: white;
        border: gold;
        border-radius: 5px;
        text-align: left;
    }